@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1B1B32;
}

.nav-links {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-items {
    list-style: none;
    margin-right: 2rem;
    font-size: 24px;
    font-weight: bold;
}

.nav-items:first-child {
    margin-right: auto;
}

.nav-items a {
    text-decoration: none;
    color: #F5F6F7;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #0A0A23;
    z-index: 999;
}

.navs:hover {
    transform: scale(0.8);
}

.navs a:hover {
    color: grey;
}

.navs a:active {
    color: rgb(58, 58, 58);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0.3cm 0.5cm;
    color: #F5F6F7;
}

.paragraph1 {
    padding-top: 2cm;
    font-weight: bold;
    align-self: center;
    font-size: 30px;
    color: #FECC4C;
}

.title1,
.title2 {
    font-weight: bold;
    font-size: 24px;
    padding: 0.3cm 0.3cm;
}

.main-paragraph {
    width: 50%;
}

.box1 {
    float: right;
    background-color: #FECC4C;
    color: #0A0A23;
    position: relative;
    right: 2cm;
    bottom: 4cm;
    border-radius: 10px;
    padding: 1cm 1cm;
    box-shadow: 5px 10px;
}

.box1:hover {
    transform: scale(1.1);
}

.main-paragraph2,
.title2 {
    padding: 0.3cm 0.5cm;
    color: #F5F6F7;
    width: 50%;
}

.button1 {
    position: relative;
    left: 2cm;
    bottom: 15px;
    background-color: #FECC4C;
    color: #0A0A23;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    height: 1cm;
    width: 3cm;
    box-shadow: 5px 8px;
    cursor: pointer;
}

.button1:hover {
    transform: scale(1.1);
    background-color: #c8a13d;
}

.button1:active {
    background-color: #a37f25;
}

    .title3 {
        font-weight: bold;
        font-size: 24px;
        padding: 0.3cm 0.3cm;
    }
    
    .paragraph4 {
        position: absolute;
        left: 17cm;
        padding: 0.3cm 0.5cm;
        color: #F5F6F7;
        width: 50%;
        background-color: #0A0A23;
        color: #FECC4C;
        border-radius: 10px;
    }
    
    .youtube-watchtime {
        width: 8cm;
        height: 8cm;
        position: relative;
        bottom: 6.3cm;
        left: 5cm;
        transform: rotate(340deg);
        border: solid;
        border-color: #0A0A23;
        border-width: 10px;
        border-radius: 10px;
    }
    
    .youtube-watchtime:hover {
        transform: scale(1.1);
    }
    
    footer {
        color: #0A0A23;
        display: flex;
        background-color: #0A0A23;
        width: 33cm;
        height: 6cm;
        padding: 0;
        margin: 0;
        font-weight: bold;
        border-radius: 10px;
    }
    
    .box2 {
        background-color: #FECC4C;
        padding: 1cm 0.5cm;
        border-radius: 10px;
        position: relative;
        left: 3cm;
        top: 1.1cm;
        height: 50%;
        cursor: pointer;
    }
    
    .box3 {
        background-color: #FECC4C;
        padding: 1cm 0.5cm;
        border-radius: 10px;
        position: relative;
        left: 15cm;
        top: 1.1cm;
        height: 50%;
        cursor: pointer;
    }
    
    .box2:hover,
    .box3:hover {
        transform: scale(1.1);
        background-color: #d9a82e;
    }
    
    @media all and (max-width: 50cm) {
        .nav-items {
            list-style: none;
            margin-right: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
        .main {
            display: flex;
            flex-direction: column;
            padding: 0.1cm 0.1cm;
            color: #F5F6F7;
        }
        .box1 {
            width: 0;
            height: 0;
            position: absolute;
            right: 1000cm;
            font-size: 0;
        }
        .paragraph1 {
            padding-top: 2cm;
            align-self: center;
            font-size: 18px;
        }
        .main-paragraph {
            width: 80%;
            padding: 0cm 0.1cm;
        }
        .main-paragraph2 {
            width: 80%;
        }
        .button1 {
            height: 0;
            width: 0;
            position: absolute;
            right: 1000cm;
            font-size: 0;
        }
        .youtube-watchtime {
            width: 6cm;
            height: 6cm;
            position: relative;
            bottom: 1.1cm;
            left: 5cm;
            transform: rotate(340deg);
            border: solid;
            border-color: #0A0A23;
            border-width: 10px;
            border-radius: 10px;
        }
        footer {
            color: #0A0A23;
            display: flex;
            background-color: #0A0A23;
            width: 480px;
            height: 6cm;
            padding: 0;
            margin: 0;
            font-weight: bold;
            border-radius: 10px;
        }
        .box2 {
            background-color: #FECC4C;
            padding: 1cm 0.5cm;
            border-radius: 10px;
            position: relative;
            left: 10px;
            top: 1.1cm;
            height: 50%;
            cursor: pointer;
        }
        .box3 {
            background-color: #FECC4C;
            padding: 1cm 0.5cm;
            border-radius: 10px;
            position: relative;
            left: 20px;
            top: 1.1cm;
            height: 50%;
            cursor: pointer;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .paragraph4 {
            position: relative;
            left: 0.1cm;
            padding: 0.3cm 0.5cm;
            margin: 0.3cm 0.1cm;
            color: #F5F6F7;
            width: 50%;
            background-color: #0A0A23;
            color: #FECC4C;
            border-radius: 10px;
            width: 80%;
        }
    }
